<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yujinns.blog.mapper.UserMapper">
    <insert id="insertUser" parameterType="yujinns.blog.DTO.User">
        <selectKey keyProperty="idx" resultType="String" order="BEFORE">
            SELECT idx_seq.nextval FROM dual
        </selectKey>
        insert into yujinns_user (idx, id, password, nickname, pwd_q, pwd_a, email, intro) values (#{idx}, #{id}, #{password}, #{nickname}, #{pwd_q}, #{pwd_a}, #{email}, #{intro})
    </insert>

    <select id="selectUserById" parameterType="java.lang.String" resultType="yujinns.blog.DTO.User">
        select * from yujinns_user where id = #{id}
    </select>

    <select id="getAllUsers" resultType="yujinns.blog.DTO.User">
        select * from yujinns_user
    </select>

    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from yujinns_user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="yujinns.blog.DTO.User">
        update yujinns_user set nickname = #{nickname} where id = #{id}
    </update>

    <select id="getUsersByPage" resultType="yujinns.blog.DTO.User" parameterType="map">
        <![CDATA[ SELECT * FROM ( SELECT a.*, ROWNUM AS rnum FROM ( SELECT * FROM yujinns_user ORDER BY created_date DESC ) a WHERE ROWNUM <= #{endRow} ) WHERE rnum >= #{startRow}]]>
    </select>
    
    <select id="getTotalUserCount" resultType="int">
        select count(*) from yujinns_user
    </select>

    <update id="changePassword" parameterType="yujinns.blog.DTO.User">
        update yujinns_user set password = #{password} where id = #{id}
    </update>

    <update id="updateUserInfo" parameterType="yujinns.blog.DTO.User">
        update yujinns_user set nickname = #{nickname}, intro = #{intro} where id = #{id}
    </update>
</mapper>