<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/detail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
  <title>제목</title>
</head>
<body style="background: url(../images/elden_ring_bg.png) no-repeat center fixed; background-size: cover; height: 100vh;">
<!-- header 시작 -->
<header>

  <!-- 헤더 블록 -->
  <nav>
    <div style="width: 100%; height: 47px; left: 0px; top: 0px; position: absolute; background: #171D25"></div>
    <div style="width: 119px; height: 20px; left: 1743px; top: 13px; position: absolute">

      <!-- 회원가입 -->
      <ul style="list-style: none; display: flex; gap: 10px;">
        <!-- 세션에 로그인 정보가 있는 경우 -->
        <li th:if="${session['userId']}">
          <a th:href="@{'/user/' + ${session['userId']}}" style="left: 63px; top: 1px; position: absolute; color: #7C7C7C; font-size: 13px;">
            <span th:text="${session['username']}"></span>
          </a>
        </li>
        <li th:if="${session['userId']}">
          <a th:href="@{/logout}" style="left: 143px; top: 1px; position: absolute; color: #7C7C7C; font-size: 13px; margin-left: 10px; white-space: nowrap;">
            로그아웃
          </a>
        </li>
      </ul>
      <!-- 세션에 로그인 정보가 없는 경우 -->
<!--      <li th:unless="${session['userId']}">-->
<!--        <a href="/register.html" style="left: 63px; top: 1px; position: absolute; color: #7C7C7C; font-size: 13px;">-->
<!--          회원가입-->
<!--        </a>-->
<!--      </li>-->
      <li th:unless="${session['username']}">
        <a th:href="@{/index}" style="width: 44px; height: 20px; left: 0px; top: 0px; position: absolute; color: #7C7C7C; font-size: 13px;">
          로그인
        </a>
      </li>
    </div>

    <!-- 블로그 검색창 -->
    <div style="width: 665.39px; height: 30px; left: 628px; top: 8px; position: absolute">
      <div style="width: 665.39px; height: 30px; left: 0px; top: 0px; position: absolute; background: #32353C; border-radius: 10px"></div>
      <i><a href="#" class="fa-solid fa-magnifying-glass" style="width: 21px; height: 21px; left: 640px; top: 7px; position: absolute; color: #171D25"></a></i>
      <input placeholder="검색어를 입력하세요."
             style="width: 611px; left: 12px; top: 7px; position: absolute; background-color: #32353C; color: #E0E1E6; outline: none; border: 0; font-size: 15px; font-weight: 100;">
      </input>
    </div>


    <!--블로그 카테고리 선택-->
    <ul class="game_select">
      <li>
        <a href="#">엘든 링</a>
        <ul class="games">
          <li><a href="csgo_list.html">CS:GO</a></li>
          <li><a href="#">발더스 게이트 3</a></li>
          <li><a href="#">스타필드</a></li>
          <li><a href="#">위쳐 3</a></li>
          <li><a href="#">폴아웃 4</a></li>
          <li><a href="#">아머드 코어 6</a></li>
          <li><a href="#">사이버 펑크 2077</a></li>
          <li><a href="#">FC24</a></li>
          <li><a href="#">엘든 링</a></li>
          <li><a href="darksoul_3_list.html">다크 소울 3</a></li>
        </ul>
      </li>
    </ul>

    <!--서비스 이름-->
    <div> <a href="index.html" style="width: 104px; height: 20px; left: 49px; top: 10px; position: absolute; color: #E0E1E6; font-size: 20px;">유진스팀</a></div>
  </nav>
</header>
<!-- header 끝 -->
<!-- main 시작 -->
<main class="detail">
  <div class="write_block">
    <div class="writer_info_wrap">
      <img class="profile_photo" src="https://via.placeholder.com/48x48" />
      <div class="profile_name">이지은</div>
      <div class="point">▪</div>
      <div class="write_date">2023.07.30 18:32</div>
      <div class="By" style=>By</div>
      <div class="profile_id">dlwlrma</div>
    </div>
    <div class="detail_title">드디어 엘든링 샀습니다 !!! 엘든링 찍먹 각</div>
    <div class="detail_cont">게시글</div>
    <div class="list_bt" >
      <div class="list_bt_block"></div>
      <a href="#" class="list_text">목록</a>
    </div>
    <div class="update_bt">
      <div class="update_bt_block"></div>
      <a href="#" class="update_text">수정</a>
    </div>
    <div class="delete_bt">
      <div class="delete_bt_block"></div>
      <a href="#" class="delete_text">삭제</a>
    </div>
    <div class="like_bt"><i class=""></i>
      <i class="fa-solid fa-thumbs-up"></i>
      <div class="like_count">60</div>
    </div>
    <div class="comment_icon">
      <i class="fa-solid fa-comment-dots"></i>
      <div class="comment_count">10</div>
    </div>
    <div class="post_underbar"></div>

    <!--댓글 작성-->
    <form id="comment" action="#" method="post">
      <div class="comment_write_wrap">
        <img class="comment_photo" src="https://via.placeholder.com/48x48" />
        <input class="comment_write" type="text" placeholder="의견을 남겨주세요 !"></input>
        <div class="comment_uderbar"></div>
        <div class="comment_write_bt">
          <input type="submit" value="작성" class="comment_write_bt_block"></input>
        </div>
      </div>
    </form>

      <div class="comment">
        <img class="other_comment_photo" src="https://via.placeholder.com/48x48" />
        <div class="other_user">잡았다 요놈</div>
        <div class="comment_cont">님 진짜 개못하네요 ㄷㄷㄷㄷ</div>
        <div class="comment_date">2023.07.31 16:21</div>
        <div class="comment_like_count">9999</div>
        <i class="fa-solid fa-thumbs-up"></i>
      </div>
  </div>
</div>
<div class="scrollbar" id="style-2">
  <div class="force-overflow"></div>
</div>
</main>
</body>