<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/game_select.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>블로그 생성</title>
</head>
<body>
<!--<form name="makeblog" th:action="@{'makeblog/images/' + ${game_id}}" method="post">-->
<section>
    <img src="../images/image 421.png" />
    <a th:href="@{makeblog/1}"><img class="cs_go" src="images/cs.webp" /></a> //1
    <a th:href="@{makeblog/2}"><img class="baldurs_gate_3" src="images/발더스게이트3.webp" /></a> //2
    <a th:href="@{makeblog/3}"><img class="starfield" src="images/스타필드.webp" /></a> //3
    <a th:href="@{makeblog/4}"><img class="witcher_3" src="images/위쳐3.webp" /></a> //4
    <a th:href="@{makeblog/5}"><img class="fallout_4" src="images/폴아웃4.jpg" /></a> //5
    <a th:href="@{makeblog/6}"><img class="armor_6" src="images/아머드코어6.webp" /></a>a> //6
    <a th:href="@{makeblog/7}"><img class="cyber2077" src="images/사이버펑크2077.webp"/></a> //7
    <a th:href="@{makeblog/8}"><img class="fc24" src="images/fc24.webp" /></a> //8
    <a th:href="@{makeblog/9}"><img class="elden_ring" src="images/엘든링.jpg" /></a>//9
    <a th:href="@{makeblog/10}"><img class="darksoul_3" src="images/다크소울3.webp" /></a> //10

</section>
<!--</form>-->
</body>
</html>