<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/signup">회원가입 Page</a></li>
    <li><a href="/delete">회원탈퇴 Page</a></li>
</ul>

<div th:if="${session['username']}">
    <p>Welcome, <span th:text="${session['username']}"></span>!</p>
    <a href="/update">회원정보수정 Page</a>
    <a href="/logout">Logout</a>
</div>
<div th:unless="${session['username']}">
    <p>Please log in.</p>
    <a href="/login">Login</a>
</div>
<script th:inline="javascript">
    var alertMessage = /*[[${session.message}]]*/ '';
    if (alertMessage) {
        alert(alertMessage);
    }
</script>

</body>
</html>