<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="찰규가 숨겨놓은 공간을 발견했다!">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/2d323a629b.js"
    crossorigin="anonymous"></script>
    <title>COSMOS</title>
  </head>
    <body bgcolor="#0000">
      <nav class="navbar">
        <div class="navbar_logo">
          <i class="fas fa-meteor"></i>
          <a href="/">COSMOS</a>
        </div>

        <ul class="navbar_menu">
          <li><a href="/"><span>HOME</span></a></li>
          <li><a href="#"><span>ABOUT</span></a></li>
          <li><a href="/board/list"><span>BLOG</span></a></li>
          <li><a href="#"><span>GALLERY</span></a></li>
          <li><a href="#"><span>VIDEO</span></a></li>
        </ul>
        <ul class="navbar_icons">
          <li><a href="https://www.instagram.com/gyulo94/" class="fab fa-instagram"></a></li>
          <li><a href="https://www.facebook.com/qkrcjfrb112/" class="fab fa-facebook-f"></a></li>
        </ul>
        <a href="#" class="navbar_toogleBtn">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
      <div class="scrollbar" id="style-2">
        <div class="force-overflow"></div>
      </div>
<!----------------------------------네비바---------------------------------------->
      <div class="board_wrap">
        <div class="board_title">
            <Strong>과학이야기</Strong>
            <p>과학을 쉽고 재미있게 알려드립니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">작성자</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
                    <div th:text="${list.boardIdx}" class="num"></div>
                    <div class="title"><a th:href="@{/board/readform(boardIdx=${list.boardIdx})}" th:text="${list.title}">default </a></div>
                    <div th:text="${list.name}" class="writer"></div>
                    <div th:text="${list.createdtime}" class="date"></div>
                    <div th:text="${list.hitcnt}" class="count"></div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="/board/writeform" class="on">등록</a>
            </div>
        </div>
      </div>
    </body>
    <script src="main.js" defer></script>
</html>