<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/loginForm.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
<!--  <script src="js/loginForm.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <title>로그인</title>
</head>
<body style="background: url(images/main_background.png) no-repeat center fixed; background-size: cover; height: 100vh;">

  <form name="loginForm" th:action="@{/login}" method="post">
    
    <section class="LoginPage">
      <!--로그인 블록-->
      <div class="login_block"></div>

      <!--서비스 이름-->
      <div class="servicename">
        <label for="servicename">유진스팀</label>
      </div>

      <!--아이디 입력-->
      <div class="id_wrap">
        <div class="id_block"></div>

        <!--아이디 입력란-->
        <input name ="id" id="id" type="text" placeholder="아이디를 입력하세요." maxlength="15"></input>
      </div>

      <!--비밀번호 입력-->
      <div class="pwd_wrap">
        <div class="pwd_block"></div>

        <!--비밀번호 입력란-->
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." maxlength="20"></input>
      </div>

        <!--아이디저장-->
      <div class="rememberId">

        <!--아이디저장 체크박스-->
        <div class="save_id_box">
          <input type="checkbox" id="save_id" name="save_id"></input>
        </div>

        <!--아이디저장 텍스트-->
        <label for="save_id">아이디 저장</label>
      </div>

      <!--로그인 버튼-->
      <div class="Login">
        <input type="submit" value="로그인"></input>
      </div>

      <!--비밀번호 찾기-->
      <div><a href="#" class="FindPassword">비밀번호 찾기</a></div>
      <div><a th:href="@{/signup}" class="Register">회원가입</a></div>
    </section>
  </form>
  <script th:inline="javascript">
    var alertMessage = /*[[${session.message}]]*/ '';
    if (alertMessage) {
      alert(alertMessage);
    }
  </script>
</body>
</html>