<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <title>마이페이지</title>
</head>
<body>
  <form id="mypage" name="mypage" th:action="@{'/mypage_action/' + ${user.id}}" method="post">
    <div class="mypage">
        <img class="mypage_bg" th:src="@{/images/main_background.png}" alt="my_image"/>
        <div class="mypage_block"></div>
        <div class="mypage_title">마이 페이지</div>
        <div class="profile">
          <div class="profile_id">아이디</div>
            <div class="profile_id_c"><span th:text="${user.id}"></span></div>
          <div class="profile_pwd">비밀번호</div>
            <div class="profile_pwd_c">●●●●●</span></div>
          <div class="profile_name">닉네임</div>
          <input id="nickname" name="nickname" type="text" class="profile_name_c" th:value="${user.nickname}"></input>
          <a th:href="@{'/delete/' + ${user.id}}" class="profile_delete">회원 탈퇴</a>
          <a th:href="@{'/password_change/' + ${user.id}}" class="profile_pwd_ch">비밀번호 변경</a>
          <img class="profile_photo" th:src="@{/images/아이유.png}" />
        </div>
        <div class="profile_intro_wrap">
          <div class="profile_intro">
            <div class="profile_intro_block"></div>
            <textarea id="intro" name="intro" placeholder="자기소개를 입력하세요.">[[${user.intro}]]</textarea>
          </div>
          <div class="profile_intro_title">소개</div>
        </div>
        <div class="mypage_change_bt_wrap">
          <input type="submit" class="mypage_change_bt" value="변경"></input>
        </div>
        <a href="#" class="mypage_cancle_bt">취소</a>
      </div>
  </form>
  <script th:inline="javascript">
      var alertMessage = /*[[${session.message}]]*/ '';
      if (alertMessage) {
          alert(alertMessage);
      }
  </script>
</body>