<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/password_change.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <title>비밀번호 변경</title>
</head>
<body>
<form id="pwd_ch" name="pwd_ch" th:action="@{'/password_change/' + ${user.id}}" method="post">
 <div class="password">
    <img class="password_change_bg" src="../images/main_background.png" />
    <div class="password_ch_wrap">
      <div class="password_ch_block"></div>
      <div class="password_ch_title">비밀번호 변경</div>
      <div class="rc_pwd">현재 비밀번호</div>
      <div class="rc_pwd_wrap">
        <div class="rc_pwd_block"></div>
        <input id="password" name="password" type="password" placeholder="현재 비밀번호 입력"></input>
      </div>
      <div class="nw_pwd_wrap">
        <div class="nw_pwd_block"></div>
        <input id="newPassword" name="newPassword" type="password" placeholder="새로운 비밀번호 입력"></input>
      </div>
      <div class="nw_pwd">새로운 비밀번호</div>
      <div class="nw_pwd_ck">새로운 비밀번호 확인</div>
      <div class="nw_pwd_ck_wrap">
        <div class="nw_pwd_ck_block"></div>
        <input id="newPassword_c" name="newPassword_c" type="password" placeholder="새로운 비밀번호 재입력"></input>
      </div>
      <div class="pwd_change_bt_wrap">
        <input type="submit" class="pwd_change_bt" value="변경"></input>
      </div>
      <a href="#" class="pwassword_cancle_bt">취소</a>
    </div>
  </div>
</form>
</body>