<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/registerForm.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<!--  <script src="../js/registerForm.js"></script>-->
  <script src="https://kit.fontawesome.com/a67b8eee2b.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <title>회원가입</title>
</head>
<body style="background: url(../images/main_background.png) no-repeat center fixed; background-size: cover; height: 100vh;">
<form id="registerForm" th:action="@{/signup}" method="post">
    <section class="RegisterPage">
        <!--회원가입 블록-->
        <div class="register_block"></div>
        <!--서비스 이름-->
        <div class="servicename">
          <label>유진스팀</label>
        </div>
        <!--아이디 입력-->
        <div class="register_id_wrap">
          <div></div>
          <input name ="id" id="id" type="text" placeholder="아이디를 입력하세요." maxlength="15" required></input>
        </div>
        <!--중복확인 버튼-->
        <div class="idcheck_button">
          <input type="button" onclick="" value="중복확인"></input>
        </div>
        <!--비밀번호 입력-->
        <div class="register_pwd_wrap">
          <div></div>
          <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." maxlength="25" required pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z0-9!@#$%^&*]{10,}$"></input>
          <small>비밀번호는 특수문자,문자,숫자를 하나씩 포함하고 10자를 넘어야 합니다.</small><br>
        </div>
        <!--비밀번호 재입력-->
        <div class="register_pwdcheck_wrap">
          <div></div>
          <input type="password" id="pwdcheck" name="pwdcheck" placeholder="비밀번호를 다시 입력하세요." maxlength="25" required></input>
        </div>
        <!--이름 입력-->
        <div class="register_name_wrap" name="pp">
          <div></div>
          <input type="text" id="nickname" name="nickname" placeholder="이름을 입력하세요." maxlength="10" required></input>
        </div>
        <!--이메일 입력-->
        <div class="register_email_wrap">
          <div></div>
          <input type="text" id="email" name="email" placeholder="이메일을 입력하세요." maxlength="50" required></input>
        </div>
        <!--비밀번호 확인 질문 입력-->
        <div class="register_pwd_q_wrap">
          <div></div>
          <select name="pwd_q">
            <option value="1">가장 좋아하는 연예인은?</option>
            <option value="2">가장 좋아하는 영화는?</option>
            <option value="3">가장 기억에 남는 장소는?</option>
            <option value="4">가장 친한 친구의 이름은?</option>
            <option value="5">당신의 보물 제1호는?</option>
          </select>
        </div>

        <!--비밀번호 확인 답변 입력-->
        <div class="register_pwd_a_wrap">
          <div></div>
          <input type="text" id="pwd_a" name="pwd_a" placeholder="비밀번호 확인 답변을 입력하세요." maxlength="50" required></input>
        </div>

        <!--자기소개 입력-->
        <div class="register_intro_wrap">
          <textarea name="intro" required>안녕하세요.</textarea>
        </div>
        <!--회원가입 버튼-->
        <div class="register_button">
          <input type="submit" value="회원가입"></input>
        </div>
        <!--취소 버튼-->
        <a href="javascript:window.history.back();">취소</a>
    </section>
</form>

<script>
    // const passwordInput = document.getElementById('password');
    // const passwordConfirmInput = document.getElementById('pwdcheck');
    // const passwordMatchError = document.getElementById('passwordMatchError');
    // const signupForm = document.getElementById('registerForm');
    //
    // signupForm.addEventListener('submit', function (event) {
    //     if (passwordInput.value !== passwordConfirmInput.value) {
    //         event.preventDefault();
    //         passwordMatchError.textContent = '비밀번호를 다시 확인하세요.';
    //         passwordInput.focus();
    //     }
    // });
    //
    // passwordInput.addEventListener('input', function() {
    //     passwordMatchError.textContent = ''
    // });

    const passwordInput = document.getElementById('password');
    const passwordConfirmInput = document.getElementById('pwdcheck');
    const signupForm = document.getElementById('registerForm');

    signupForm.addEventListener('submit', function (event) {
        if (passwordInput.value !== passwordConfirmInput.value) {
            event.preventDefault();
            passwordInput.focus();
            alert('비밀번호가 일치하지 않습니다.');
        }
    });
</script>
</body>
</html>