<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>
<h1>Member List</h1>
<ul>
    <li th:each="user : ${users}">
        <a th:href="@{'/user/' + ${user.id}}">
            <span th:text="${user.nickname}"></span>
        </a>
    </li>
</ul>

<div class="pagination">
    <ul>
        <li th:if="${currentPage > 1}">
            <a th:href="@{/users(page=1)}">First</a>
        </li>
        <li th:if="${currentPage > 1}">
            <a th:href="@{/users(page=${currentPage - 1})}">Previous</a>
        </li>
        <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
            <span th:if="${currentPage == pageNo}" th:text="${pageNo}"></span>
            <a th:if="${currentPage != pageNo}" th:href="@{/users(page=${pageNo})}" th:text="${pageNo}"></a>
        </li>
        <li th:if="${currentPage < totalPages}">
            <a th:href="@{/users(page=${currentPage + 1})}">Next</a>
        </li>
        <li th:if="${currentPage < totalPages}">
            <a th:href="@{/users(page=${totalPages})}">Last</a>
        </li>
    </ul>
</div>
</body>
</html>