* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;    
}

html {
    overflow: hidden;
  }

.body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    min-height: 100vh;
    background: url(image/main_background.png) no-repeat center fixed; 
    background-size: cover; 
    height: 100vh;
}

.mypage {
    width: 1920px; 
    height: 1080px; 
    position: relative; 
    background: rgba(22, 25, 32, 0);
}

.mypage_bg {
    width: 1920px;
    height: 1080px; 
    left: 0px; 
    top: -55px; 
    position: absolute;
    background: center fixed; 
    background-size: cover; 
}

.mypage_block {
    width: 751px; 
    height: 902px; 
    left: 610px; 
    top: 8px; 
    position: absolute; 
    background: #191A1E; 
    border-radius: 50px; 
    border: 0.50px #191A1E solid;
}

.mypage_title {
    left: 914px; 
    top: 77px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 40px; 
}

.profile {
    width: 511px; 
    height: 152px; 
    left: 712px; 
    top: 184px; 
    position: absolute;
}

.profile_id {
    left: 218px; 
    top: 3px; 
    position: absolute;
    color: #E0E1E6;
    font-size: 20px;
}

.profile_id_c {
    left: 327px; 
    top: 5px; 
    position: absolute;
    color: #E0E1E6;
}

.profile_pwd {
    left: 218px; 
    top: 59px; 
    position: absolute;
    color: #E0E1E6;
    font-size: 20px;
}

.profile_pwd_c {
    left: 327px; 
    top: 62px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 10px;
}

.profile_name1 {
    left: 218px; 
    top: 804px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 20px;
}

.profile_name {
    left: 218px; 
    top: 124px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 20px;
}

.profile_name_c {
    width: 214px; 
    left: 324px;
    height: 30px; 
    top: 123px;
    text-align: center; 
    font-size: 17px;
    position: absolute; 
    color: #E0E1E6;
    background: #32353C;
    border: 0;
    outline: none;
    border-radius: 10px;
}

.profile_delete {
    left: 436px; 
    top: 11px; 
    position: absolute; 
    text-align: center; 
    color: #E0E1E6; 
    font-size: 13px; 
    font-weight: 100;
    white-space: nowrap;
}

.profile_pwd_ch {
    left: 436px; 
    top: 62px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 13px; 
    font-weight: 100;
    white-space: nowrap;
}

.profile_photo {
    width: 130px; 
    height: 130px; 
    left: 20px; 
    top: 13px; 
    position: absolute; 
    border-radius: 9999px;
}

.profile_intro_wrap {
    height: 253px; 
    left: 724px; 
    top: 425px; 
    position: absolute;
}

.profile_intro {
    width: 527px; 
    height: 204px; 
    left: 0px; 
    top: 49px; 
    position: absolute;
}

.profile_intro_block {
    width: 527px; 
    height: 204px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #32353C; 
    border-radius: 10px;
}

.profile_intro textarea {
    width: 500px; 
    height: 170px; 
    left: 10px; 
    top: 15px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 15px;
    resize: none;
    background-color: inherit;
    border: 0;
    outline: none;
}

.profile_intro_title {
    left: 0px; 
    top: 0px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 25px;
    white-space: nowrap;
}
.mypage_change_bt_wrap {
    width: 118px; 
    height: 51px; 
    left: 927px; 
    top: 751.09px; 
    position: absolute;
}

.mypage_change_bt {
    width: 118px; 
    height: 51px; 
    left: 0px; 
    top: 0px; 
    font-size: 18px;
    position: absolute; 
    background: #32353C;
    color: #E0E1E6;
    border-radius: 9px;
}

.mypage_cancle_bt {
    left: 972px; 
    top: 823.09px; 
    position: absolute; 
    text-align: center; 
    color: #E0E1E6; 
    font-size: 15px;
}