* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;    
}

html {
    overflow: hidden;
  }

.body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    min-height: 100vh;
    background: url(image/main_background.png) no-repeat center fixed; 
    background-size: cover; 
    height: 100vh;
}

.password {
    width: 1920px; 
    height: 1080px; 
    top: 0px; 
    position: relative; 
    background: rgba(22, 25, 32, 0); 
    border: 0.50px black solid
}

.password_change_bg {
    width: 1920px; 
    height: 1080px; 
    left: 0px; 
    top: -55px; 
    position: absolute;
}

.password_ch_wrap {
    width: 751px; 
    height: 661px; 
    left: 584px; 
    top: 135px; 
    position: absolute;
}

.password_ch_block {
    width: 751px; 
    height: 661px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #191A1E; 
    border-radius: 50px; 
    border: 0.50px #191A1E solid;
}

.password_ch_title {
    left: 261px; 
    top: 46.91px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 40px;
}

.rc_pwd {
    left: 110px; 
    top: 204px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 20px;
}

.rc_pwd_wrap {
    width: 321px; 
    height: 45px; 
    left: 319px; 
    top: 193px; 
    position: absolute;
}

.rc_pwd_block {
    width: 315.91px; 
    height: 45px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #32353C; 
    border-radius: 9px; 
    border: 0.50px black solid;    
}

.rc_pwd_wrap input {
    width: 307.65px; 
    height: 41px; 
    left: 13.35px; 
    top: 2px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 15px; font-weight: 100;
    background-color: inherit;
    border: 0;
    outline: none;
}

.nw_pwd_wrap {
    width: 321px; 
    height: 45px; 
    left: 319px; 
    top: 272px; 
    position: absolute;
}

.nw_pwd_block {
    width: 316px; 
    height: 45px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #32353C; 
    border-radius: 9px; 
    border: 0.50px black solid;
}

.nw_pwd_wrap input {
    width: 308px; 
    height: 41px; 
    left: 13px; 
    top: 2px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 15px; font-weight: 100;
    background-color: inherit;
    border: 0;
    outline: none;
}

.nw_pwd {
    left: 110px; 
    top: 283px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 20px;
}

.nw_pwd_ck {
    left: 110px; 
    top: 362px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 20px;
}

.nw_pwd_ck_wrap {
    width: 321px; 
    height: 45px; 
    left: 319px; 
    top: 351px; 
    position: absolute;
}

.nw_pwd_ck_block {
    width: 316px; 
    height: 45px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #32353C; 
    border-radius: 9px; 
    border: 0.50px black solid;
}

.nw_pwd_ck_wrap input {
    width: 308px; 
    height: 41px; 
    left: 13px; 
    top: 2px; 
    position: absolute; 
    color: #E0E1E6; 
    font-size: 15px; 
    font-weight: 100;
    background-color: inherit;
    border: 0;
    outline: none;
}

.pwd_change_bt_wrap {
    width: 530px; 
    height: 51px; 
    left: 110px; 
    top: 490.91px; 
    position: absolute;
    text-align: center; 
    color: #161920; 
    font-size: 18px; 
    font-weight: 500;
}

.pwd_change_bt {
    width: 118px; 
    height: 51px;
    left: 208px; 
    top: 0px; 
    position: absolute; 
    background: #32353C;
    color: #E0E1E6;
    border-radius: 9px;
    text-align: center; 
    font-size: 18px; 
    font-weight: 500;
}

.pwassword_cancle_bt {
    width: 112px; 
    height: 15px; 
    left: 319px; 
    top: 583.91px; 
    position: absolute; 
    text-align: center; 
    color: #FAFBFC; 
    font-size: 15px;
    font-weight: 500;
}